<div class="top-bar">
    <!-- logo -->
    <div class="logo">
        <a href="#!" class="logo_link">
            <img src="./assets/icons/logo.svg" alt="Lịch phong thuỷ" class="logo__img">
        </a>
    </div>
    <navbar class="navbar">
        <ul class="navbar__list">
            <li class="navbar__item">
                <a href="" class="navbar__link"></a>
            </li>
            <li class="navbar__item">
                <a href="" class="navbar__link"></a>
            </li>
            <li class="navbar__item">
                <a href="" class="navbar__link"></a>
            </li>
        </ul>
    </navbar>


    <!--  -->
</div>